html 
  box-sizing: border-box
  font-size: 62.5%

*, *:before, *:after 
  box-sizing: inherit

    
body
    background-color: #fff
    font-family: 'Francois One', sans-serif

 

.flex
    display: flex
    justify-content: center
    align-content: center
    height: 100vh
    background: transparent
    

.card
    position: absolute
    overflow: hidden
    width: 650px
    height: 550px

    .pokedex
        position: relative
        width: 100%

    .card-content
        position: absolute
        display: flex
        align-items: center
        align-content: center
        width: 100%
        padding: 5px 5px

        .card-left
            flex: auto


        .card-right
            flex: auto   